$dark: #1e293b;
$primary: #3b82f6;
$light-forms-border: #cbd5e1;
$white: #ffffff;
$secondary-text: #64748b;

.price-component {

  &__title {
    margin: 2px;
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
  }

  &__form {
    input {
      margin: 2px;
      padding-left: 12px;
      width: 149px;
      height: 40px;
      border: 1px solid $light-forms-border;
      border-radius: 4px;
      cursor: pointer;
    }

    input:focus {
      outline: none;
    }
  }

  &__btn {
    width: 306px;
    height: 48px;
    margin-top: 24px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    border-radius: 4px;
    border: none;
    background-color: $primary;
    color: $white;
    cursor: pointer;
  }
}
