$white: #ffffff;
$primary: #3b82f6;
$light-forms-border: #cbd5e1;

.search {
  display: flex;
  flex-grow: 1;

  &__input {
    flex-grow: 1;
    height: 36px;
    font-size: 14px;
    font-weight: 400;
    padding: 0px 12px;
    border: 1px solid $light-forms-border;
    border-radius: 4px 0 0 4px;
    cursor: pointer;

    &:focus {
      outline: none;
    }
  }

  &__btn {
    display: flex;
    align-items: center;
    padding: 0 8px;
    gap: 8px;
    height: 36px;
    background-color: $primary;
    border-radius: 0px 4px 4px 0px;
    border: 1px solid $primary;
    font-size: 14px;
    color: $white;
    cursor: pointer;
  }
}
