$dark: #1e293b;
$dark-primary: #2c3e53;
$white: #ffffff;
$primary: #3b82f6;
$light-forms-border: #cbd5e1;

header {
  font-family: "Inter", sans-serif;
  border-bottom: 1px solid #e2e8f0;
}

.header-top {
  display: flex;
  align-items: center;
  height: 52px;
  background-color: $dark;
  background-image: linear-gradient(to right, $dark-primary, $dark);

  &__inner {
    display: flex;
    justify-content: flex-end;
  }

  &__row {
    display: flex;
    gap: 24px;
    margin-right: 20px;
  }

  &__login-button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: transparent;
    border: none;
  }

  .dropdown {
    position: absolute;
    top: 35px;
    right: 5px;
    width: 147px;
    height: 108px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    // display: none;

    li {
      margin: 0 8px;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      border-radius: 4px;
      color: $dark;

      &:hover {
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
      }
    }
    .dropdown__li-one {
      margin-top: 8px;
    }
    .dropdown__li-two {
      margin-top: 16px;
    }
    .dropdown__li-three {
      margin-top: 16px;
      color: red;
    }
  }

  // &__unregistered-status {
  //   svg {
  //     margin-right: 8px;
  //   }
  // }

  &__registered-status {
    display: flex;
    padding: 8px 0px;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }

  &__new-ad-btn {
    display: flex;
    align-items: center;
    padding: 6px 12px;
    background-color: $primary;
    border: none;
    border-radius: 5px;
  }
}

.header-bottom {
  display: flex;
  align-items: center;
  height: 84px;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;
  }

  &__title {
    margin: 0 0 0 20px;
    font-size: 30px;
    font-weight: 700;
  }

  &__form {
    display: flex;
    align-items: center;
    width: 900px;
    margin-right: 20px;
  }

  // &__categories {
  //   border: 1px solid red;
  //   margin: 0 12px;
  // }

  &__categories-icon {
    display: none;
  }

  &__categories-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 152px;
    height: 36px;
    margin: 0 12px;
    padding: 8px 12px;
    font-size: 14px;
    color: $primary;
    background-color: $white;
    border: 1px solid $primary;
    border-radius: 4px;
    cursor: pointer;
  }

  &__search {
    display: flex;
    flex-grow: 1;
  }

  &__search-input {
    flex-grow: 1;
    height: 36px;
    font-size: 14px;
    font-weight: 400;
    padding: 0px 12px;
    border: 1px solid $light-forms-border;
    border-radius: 4px 0 0 4px;
    cursor: pointer;

    &:focus {
      outline: none;
    }
  }

  &__search-btn {
    display: flex;
    align-items: center;
    gap: 8px;
    height: 36px;
    background-color: $primary;
    border-radius: 0px 4px 4px 0px;
    border: 1px solid $primary;
  }
}

.header-top__login-button,
.header-top__new-ad-btn,
.header-bottom__search-btn {
  font-size: 14px;
  color: $white;
  cursor: pointer;
}

.container {
  max-width: 100%;
  width: 1296px;
  margin: 0 auto;
}

@media (max-width: 1235px) {
  header {
    padding-bottom: 15px;
  }
  .header-bottom__inner {
    justify-content: center;
  }
}

@media (max-width: 500px) {
  .header-bottom__title {
    font-size: 24px;
  }
  .header-bottom__categories-icon {
    margin: 0 15px;
    display: block;
  }
  .header-bottom__categories-btn {
    display: none;
  }
}
