$dark: #1e293b;
$white: #ffffff;
$primary: #3b82f6;
$light-forms-border: #cbd5e1;

$breakpoint_xl: 1278px;
$breakpoint_l: 1161px;
$breakpoint_m: 961px;
$breakpoint_s: 811px;
$breakpoint_xs: 716px;
$breakpoint_xxs: 580px;

.header {
  .container {
    margin: 0 auto;
    width: 1296px;
    border: 1px solid red;
  }

  &-top {
    display: flex;
    align-items: center;
    height: 52px;
    background-color: $dark;

    &__inner {
      display: flex;
      justify-content: end;
    }

    &__row {
      display: flex;
      gap: 24px;
    }

    &__enter-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      color: $white;
      background-color: transparent;
      border: none;
      cursor: pointer;

      img {
        margin-right: 8px;
      }
      span {
        font-family: "Inter", sans-serif;
        font-size: 14px;
      }
    }

    &__add-btn {
      display: flex;
      align-items: center;
      padding: 6px 12px;
      font-family: "Inter", sans-serif;
      font-size: 14px;
      color: $white;
      background-color: $primary;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
  }

  &-bottom {
    display: flex;
    align-items: center;
    height: 84px;

    &__inner {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__title-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 24px;
    }

    &__title {
      span {
        font-family: "Inter", sans-serif;
        font-size: 30px;
        font-weight: 700;
      }
    }

    &__categories {
      .header-bottom__categories-icon {
        display: none;
      }
      button {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 152px;
        height: 36px;
        padding: 8px 12px;
        font-family: "Inter", sans-serif;
        font-size: 14px;
        border: 1px solid $primary;
        color: $primary;
        background-color: $white;
        border-radius: 4px;
      }
    }

    &__search {
      display: flex;
      justify-content: flex-end;

      input {
        width: 734px;
        height: 36px;
        font-family: Inter;
        font-size: 14px;
        font-weight: 400;
        padding: 0px 12px;
        border: 1px solid $light-forms-border;
        border-radius: 4px;
      }

      button {
        display: flex;
        align-items: center;
        gap: 8px;
        height: 36px;
        font-family: "Inter", sans-serif;
        font-size: 14px;
        background-color: $primary;
        border-radius: 0px 4px 4px 0px;
        border: none;
        color: $white;
      }
    }
  }
}

@media (max-width: $breakpoint_xl) {
  .header-bottom__search {
    width: 700px;

    input {
      width: 650px;
    }
  }
}

@media (max-width: $breakpoint_l) {
  .header-bottom__search {
    width: 500px;
  }
}

@media (max-width: $breakpoint_m) {
  .header-bottom__search {
    width: 350px;
  }
}

@media (max-width: $breakpoint_s) {
  .header-bottom__title {
    span {
      font-size: 25px;
    }
  }

  .header-bottom__search {
    width: 250px;
  }
}

@media (max-width: $breakpoint_xs) {
  .header-bottom__categories {
    .header-bottom__categories-icon {
      display: block;
    }
    button {
      display: none;
    }
  }
  .header-bottom__search {
    width: 250px;
  }
}

@media (max-width: $breakpoint_xxs) {
  .header-top__inner {
    justify-content: center;
  }
  .header-bottom__inner {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .header-bottom__title {
    display: none;
  }
}
