<header class="header">
  <div class="header-top">
    <div class="container">
      <div class="header-top__inner">
        <div class="header-top__row">
          <button class="header-top__enter-btn">
            <img src="../../../assets/img/header/Vector.svg" alt="img" />
            <span>Войти</span>
          </button>
          <button class="header-top__add-btn">
            <span>Новое объявление </span>
            <img src="../../../assets/img/header/plus.svg" alt="plus" />
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="header-bottom">
    <div class="container">
      <div class="header-bottom__inner">
        <div class="header-bottom__title-wrapper">
          <div class="header-bottom__title"><span>Доска объявлений</span></div>
          <div class="header-bottom__categories">
            <img
              class="header-bottom__categories-icon"
              src="../../../assets/img/header/all categories.svg"
              alt="lines"
            />
            <button>
              <img
                src="../../../assets/img/header/all categories.svg"
                alt="lines"
              /><span>Все категории</span>
            </button>
          </div>
        </div>
        <div class="header-bottom__search">
          <input placeholder="Поиск по объявлениям" type="text" />
          <button>
            <span>Найти</span>
            <img src="../../../assets/img/header/search.svg" alt="find" />
          </button>
        </div>
      </div>
    </div>
  </div>
</header>
