<div class="gallery">
  <h3 class="gallery__title">Macbook pro 13 2020 m1 8/256</h3>
  <div class="gallery__main">
    <img src="../../../assets/img/main-page/popugay.png" alt="" />
  </div>
  <ul class="gallery__list">
    <li class="gallery__img">
      <img src="../../../assets/img/main-page/popugay.png" alt="" />
    </li>
    <li class="gallery__img">
      <img src="../../../assets/img/main-page/popugay.png" alt="" />
    </li>
    <li class="gallery__img">
      <img src="../../../assets/img/main-page/popugay.png" alt="" />
    </li>
    <li class="gallery__img">
      <img src="../../../assets/img/main-page/popugay.png" alt="" />
    </li>
  </ul>
</div>
