$dark: #1e293b;
$dark-primary: #2c3e53;
$white: #ffffff;
$primary: #3b82f6;
$light-forms-border: #cbd5e1;

.container {
  max-width: 100%;
  width: 1296px;
  margin: 0 auto;

  &::after{
    content: "";
    display: block;
    height: 0.5em;
    width: 100%;
    border-top: 1px solid $light-forms-border;
  }
}
.row {
  display: flex;
  gap: 50px;
  margin: 0 20px 80px 20px;
  padding: 20px 0 0 0;
}



