$dark: #1e293b;
$dark-primary: #2c3e53;
$white: #ffffff;
$primary: #3b82f6;
$light-forms-border: #cbd5e1;

.header-auth {
  display: flex;
  align-items: center;
  height: 52px;
  background-color: $dark;
  background-image: linear-gradient(to right, $dark-primary, $dark);

  &__inner {
    display: flex;
    justify-content: flex-end;
  }

  &__row {
    display: flex;
    align-items: center;
    margin-right: 20px;
  }

  &__new-ad {
    display: flex;
    align-items: center;
    padding: 6px 12px;
    background-color: $primary;
    font-size: 14px;
    color: $white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
}

.container {
  max-width: 100%;
  width: 1296px;
  margin: 0 auto;
}
