.main {
  margin: 5px;
  .container {
    width: 1296px;
    margin: 0 auto;
  }

  .container_margin {
    margin-top: 32px;
    margin-bottom: 24px;
  }
  .offer-container {
    display: flex;
    &__title {
      font-family: "Inter", sans-serif;
      font-size: 24px;
      font-style: normal;
      font-weight: 600;
      line-height: 32px;
    }
  }

  .list-items {
    display: flex;
    font-family: "Inter", sans-serif;

    &__container {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
    }
  }
  @media (max-width: 930px) {
    .list-items__container {
      justify-content: space-around;
    }
  }
  @media (max-width: 768px) {
    .offer-container__title {
      display: block;
      text-align: center;
      font-size: 20px;
    }
  }
}
