<app-header></app-header>
<main>
 <div class="offer-container">
  <div class="container container_margin">
    <span class="offer-container__title">Рекомендации для вас</span>
  </div>
 </div>
<div class="list-items">
  <div class="container">
    <div class="list-items__container">
      <app-item-card></app-item-card>
      <app-item-card></app-item-card>
      <app-item-card></app-item-card>
      <app-item-card></app-item-card>
      <app-item-card></app-item-card>
      <app-item-card></app-item-card>
      <app-item-card></app-item-card>
      <app-item-card></app-item-card>
      <app-item-card></app-item-card>
      <app-item-card></app-item-card>
      <app-item-card></app-item-card>
      <app-item-card></app-item-card>
      <app-item-card></app-item-card>
      <app-item-card></app-item-card>
      <app-item-card></app-item-card>
      <app-item-card></app-item-card>
    </div>
  </div>
</div>
</main>
