$dark: #1e293b;
$primary: #3b82f6;
$secondary-text: #64748b;

.item-card {
  display: flex;
  flex-direction: column;
  width: 270px;
  height: 360px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;

  &__img-wrap {
    overflow: hidden;
    border-radius: 10px 10px 0 0;
  }

  &__img {
    height: 240px;
    border-radius: 10px 10px 0 0;

    &:hover {
      transition-duration: 0.2s;
      transform: scale(1.1);
    }
  }

  &__info {
    margin-left: 10px;
  }

  &__title {
    color: $primary;
    margin-top: 10px;
  }

  &__price {
    color: $dark;
  }

  &__location {
    margin-top: 10px;
  }

  &__visit-time {
    margin-bottom: 10px;
  }

  &__title,
  &__price {
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
  }

  &__location,
  &__visit-time {
    color: $secondary-text;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
  }
}

.container {
  max-width: 100%;
  width: 1296px;
  margin: 0 auto;
}
