$white: #ffffff;
$primary: #3b82f6;
$secondary-text: #64748b;
$dark: #1e293b;

main {
  margin: 5px 5px 81px 5px;
  font-family: "Inter", sans-serif;
  color: $dark;

  .container {
    max-width: 100%;
    width: 1296px;
    margin: 0 auto;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
  }
}

@media (max-width: 1205px) {
  main {
    .breadcrumbs {
      margin: 0 auto;
    }
    .row {
      align-items: center;
      justify-content: center;
    }
  }
}

@media (max-width: 500px) {
  main {
    .breadcrumbs {
      width: 320px;
      font-size: 12px;
    }
  }
}
